.block_items ul.items > li a.item { background: none !important; }
.block_items .bx_item_detail_scu { display: none !important; }
.block_items .bx_catalog_item_controls { display: none !important; }