@font-face {
	font-family: 'Futura Light';
	src: url('FuturaLightC.eot');
	src: url('FuturaLightC.eot?#iefix') format('embedded-opentype'), url('FuturaLightC.woff') format('woff'), url('FuturaLightC.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Futura Medium';
	src: url('FuturaMediumC.eot');
	src: url('FuturaMediumC.eot?#iefix') format('embedded-opentype'), url('FuturaMediumC.woff') format('woff'), url('FuturaMediumC.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
