body.card div.sliderbg {
    background: #1e1e1e !important;
}
body.about .sliderbgabout+.fancybox-inner .fancybox-button svg path {
    fill: #d9535f;
}
body.about .sliderbgabout+.fancybox-inner .fancybox-button {
    background: rgba(255, 232, 232, 0.6);
}