@import url("linearicons/linearicons.css");
@import url("futuralight/futuralight.css");

a,
input,
textarea {
	-webkit-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

html {
	-webkit-text-size-adjust: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

sub,
sup {
	position: relative;
	font-size: 50%;
	line-height: 0;
	vertical-align: baseline;
}

sup {
	top: -.8em;
}

sub {
	bottom: -.25em;
}

p {
	margin-top: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ul {
	padding-left: 20px;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a,
img,
input,
textarea,
select {
	outline: none;
	text-decoration: none;
}

.clr {
	clear: both;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.clr-l {
	clear: left;
}

.clr-r {
	clear: right;
}

img {
	max-width: 100%;
	height: auto;
	width: auto\9;
	vertical-align: middle;
	border: 0;
}

input,
textarea {
	/*-webkit-appearance: none;*/
	-webkit-border-radius: 0;
}

/*table*/
table {
	border-collapse: collapse;
	margin: 40px 0;
	margin-top: 0;
	width: 100%;
}

td,
th {
	padding: 10px 20px;
	vertical-align: middle;
}

th {
	white-space: nowrap;
	padding: 10px 30px;
}


/* align image */
.alignnone {
	margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
	display: block;
	margin: 5px auto 5px auto;
}

.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}

.alignleft {
	float: left;
	margin: 5px 20px 15px 0;
}

.aligncenter {
	display: block;
	margin: 5px auto 5px auto;
}

a img.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}

a img.alignnone {
	margin: 5px 20px 20px 0;
}

a img.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto
}

label {
	cursor: pointer;
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
	margin: 0;
	font-size: inherit;
}

/* =Extras
-------------------------------------------------------------- */
.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}

/*table*/
table {
	border-collapse: collapse;
	margin: 25px 0;
	width: 100%;
}

table thead {
	background-color: #FFF;
}

td,
th {
	padding: 15px 20px;
	vertical-align: top;
	border: 1px solid #FFF;
}

th {
	white-space: nowrap;
	padding: 10px 30px;
}


tbody tr:nth-child(odd) {
	background-color: #f7f7f7;
}

tbody tr {
	background-color: #fbfbfb;
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
	margin: 0 !important;
}

textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox,
.btn {
	-webkit-appearance: none;
	border-radius: 0;
}

a,
input,
textarea,
button,
button:hover,
button:focus {
	outline: none;
}

b,
strong {
	font-family: 'Futura Medium',
		Arial;
}

hr {
	border: 0;
	height: 1px;
	background-color: #f0cbcc;
	margin: 45px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Futura Light', Arial;
	font-weight: normal;
	line-height: 125%;
	margin: 25px 0;
	padding: 0;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 42px;
}

h3 {
	font-size: 39px;
}

h4 {
	font-size: 36px;
}

h5 {
	font-size: 33px;
}

h6 {
	font-size: 30px;
}

body {
	font-family: 'Futura Light', Arial;
	color: #000;
	font-size: 21px;
	line-height: 145%;
	overflow-x: hidden !important;
}

::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #000;
}

::-moz-placeholder {
	/* Firefox 19+ */
	color: #000;
}

:-ms-input-placeholder {
	/* IE 10+ */
	color: #000;
}

:-moz-placeholder {
	/* Firefox 18- */
	color: #000;
}

a {
	color: #000;
}

a:hover {
	color: #d9535f;
}

input[type=text],
input[type=tel],
textarea {
	height: 47px;
	width: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	line-height: 47px;
	background-color: #fdf6f7;
	padding: 0 20px;
	border: 0;
	font-family: 'Futura Light', Arial;
	color: #000;
	font-size: 21px;
	-webkit-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

textarea {
	height: auto;
	min-height: 120px;
	line-height: 145%;
	padding: 15px 20px;
}

.btn {
	height: 47px;
	line-height: 47px;
	display: inline-block;
	padding: 0 20px;
	background-color: #eaa0a2;
	color: #FFF;
	font-family: 'Futura Medium', Arial;
	font-size: 17px;
	border: 0;
	cursor: pointer;
	position: relative;
	width: auto;
	-webkit-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

.btn:hover {
	background-color: #da5360;
	color: #FFF;
}

.btn.iconlink span.lnr {
	bottom: -2px;
	margin-right: 0;
	margin-left: 8px;
}

.btn.iconlink.iconleft span.lnr {
	margin-left: 0;
	margin-right: 8px;
}

.btn.red {
	background-color: #da5360;
}

.btn.red:hover {
	background-color: #a82c38;
}

.btn.mint {
	background-color: #69c5b8;
}

.btn.mint:hover {
	background-color: #2e8478;
}

.btn.grey {
	background-color: #ededed;
	color: #000;
}

.btn.grey:hover {
	background-color: #fffaae;
	color: #000;
}

.btn.linear {
	background-color: transparent;
	border: 1px solid #c89c96;
	height: 45px;
	line-height: 45px;
	color: #c89c96;
}

.btn.linear:hover {
	background-color: #c89c96;
	color: #FFF;
}

.btn.white {
	background-color: #FFF;
	color: #c89c96;
}

.btn.white:hover {
	background-color: #fffaae;
	color: #000;
}

.btn .num {
	display: inline-block;
	padding: 0 8px;
	background-color: #d9535f;
	font-size: 12px;
	color: #FFF;
	height: 22px;
	line-height: 22px;
	border-radius: 50px;
	position: absolute;
	top: -10px;
	right: -10px;
}

.topline {
	border-bottom: 1px solid #e0e0e0;
	line-height: 60px;
	font-size: 18px;
}

.iconlink {
	position: relative;
}

.iconlink span.lnr {
	position: relative;
	bottom: -2px;
	margin-right: 10px;
}

.topline a::before,
.topline a::after {
	width: 100%;
	height: 100%;
	z-index: 3;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transform: scale(0);
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.topline a:hover::after,
.topline a:hover::before {
	-webkit-transform: scale(1);
}

.topline a {
	display: inline-block;
	padding: 0 15px;
	position: relative;
	border-left: 0;
}

.topline a:hover {
	background-color: #fff6f6;
}

.topline a::before {
	border-bottom: 1px solid #d9535f;
	border-left: 0;
	-webkit-transform-origin: 0% 100%;
}

.topline a::after {
	border-top: 0;
	border-right: 0;
	-webkit-transform-origin: 50% 50%;
}

.topline .right_col {
	text-align: left;
	float: right;
}

.topline .left_col,
.topline .left_col a,
.topline .right_col a {
	float: left;
}

.iconlink .num {
	display: inline-block;
	padding: 0 8px;
	background-color: #d9535f;
	font-size: 12px;
	color: #FFF;
	height: 22px;
	line-height: 22px;
	border-radius: 50px;
	position: relative;
	top: -2px;
}

.iconlink:hover .num {
	background-color: #69c5b8;
}

.cart_link .num {
	margin-left: 5px;
}

.logo_header a {
	display: block;
	text-indent: -9999px;
	background-image: url(../img/fijie_logo.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 80%;
	margin: 0 auto;
	background-color: #FFF;
	width: 110px;
	height: 110px;
	border-radius: 50%;
	position: relative;
	top: -55px;
}

.logo_header {
	margin-bottom: -40px;
}

.navigation_area {
	position: relative;
}

.navigation_area .search {
	position: absolute;
	left: 0;
	z-index: 2;
	cursor: pointer;
	display: inline-block;
	height: 65px;
	width: 65px;
	text-align: center;
	line-height: 70px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}

.navigation_area .search:hover {
	background-color: #f6f6f6;
}

.navigation_area .main_menu {
	text-align: center;
	z-index: 1;
	position: relative;
}

@media screen and (min-width: 981px) {
	.main_menu ul {
		margin: 0;
		padding: 0;
	}

	.main_menu ul li {
		list-style: none;
		display: inline-block;
		margin: 0 5px;
	}

	.main_menu ul li > a {
		font-size: 23px;
		height: 65px;
		line-height: 65px;
		display: inline-block;
		padding: 0 30px;
	}

	.main_menu ul li > a:hover,
	.main_menu ul > li:hover a,
	.main_menu ul li.current a {
		background-color: #f6f6f6;
		color: #d9535f;
	}

	.main_menu ul > li:hover a .menu_bar span {
		background-color: #d9535e;
	}

	.main_menu ul li > a span {
		position: relative;
		bottom: -2px;
	}

	.main_menu .menu_bar {
		top: 19px;
		display: block;
		float: left;
		position: relative;
		margin-right: 15px;
	}

	.main_menu .menu_bar span {
		width: 30px;
		height: 1px;
		background-color: #000;
		display: block;
		-webkit-transition-duration: 0.5s;
		transition-duration: 0.5s;
	}

	.main_menu .menu_bar span:nth-child(2) {
		margin: 9px 0;
	}

	.main_menu li a:hover > .menu_bar span,
	.main_menu ul > li:hover .menu {
		background-color: #d9535f;
	}

	.main_menu .megamenu {
		display: none;
		position: absolute;
		z-index: 2;
		left: 0;
		width: 100%;
		text-align: left;
		background-color: #f6f6f6;
		opacity: 0;
		-webkit-box-shadow: 0px 46px 40px 0px rgba(0, 0, 0, 0.14);
		box-shadow: 0px 46px 40px 0px rgba(0, 0, 0, 0.14);
		padding: 50px;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.main_menu li.without_megamenu:hover .megamenu {
		display: block;
		opacity: 1;
	}
}

.header {
	margin-bottom: 30px;
	position: relative;
	z-index: 3;
}

.fijie_slider {
	width: 100%;
}

.fijie_slider .item {
	height: 700px;
	background-color: #eaa0a2;
	background-image: url(../img/slider/slider_bg_lines.svg);
	background-repeat: no-repeat;
	background-position: center center;
}

.tabs_area {
	background-color: #f7f7f7;
	padding-bottom: 0;
}

.inside .tabs_area {
	margin-bottom: 160px;
}

ul.tabs {
	padding: 0;
	padding-bottom: 25px;
	list-style: none;
	text-align: center;
	margin: 0;
}

ul.tabs li {
	background: none;
	color: #77575a;
	display: inline-block;
	padding: 0 30px;
	padding-left: 0;
	height: 65px;
	line-height: 65px;
	cursor: pointer;
	font-size: 24px;
	border: 1px solid transparent;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	overflow: hidden;
	margin: 0 5px;
	cursor: pointer;
}

ul.tabs li span.lnr {
	visibility: hidden;
	position: relative;
	top: 100px;
	margin-right: 10px;
	color: #c89c95;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

ul.tabs li.current span.lnr {
	display: inline-block;
	visibility: inherit;
	top: 3px;
}

ul.tabs li:hover {
	background-color: #FFF;
}

ul.tabs li.current {
	color: #c89c96;
	border-color: #c89c96;
	padding-left: 25px;
}

ul.tabs li.current:hover {
	background-color: transparent;
}

.tab-content {
	display: none;
}

.tab-content.current {
	display: inherit;
}

.section_tabs {
	padding: 0;
	position: relative;
}

.section_tabs .item {
	position: relative;
	z-index: 3;
}

.section_tabs .item:hover {
	position: relative;
	z-index: 4;
}

.section_tabs:after {
	position: absolute;
	content: '';
	width: 100%;
	height: 65%;
	bottom: 0;
	left: 0;
	z-index: 1;
	background-color: #fffaae;
	-webkit-transform: translate(-35px, 60px);
	transform: translate(-35px, 60px);
	padding-right: 70px;
}

.product_item {
	padding: 20px;
	padding-bottom: 40px;
	background-color: #FFF;
	border-bottom: 1px solid #eaa0a2;
	position: relative;
	text-align: center;
	z-index: 2;
}

.product_item:hover {
	-webkit-box-shadow: 0px 46px 40px 0px rgba(211, 178, 145, 0.32);
	box-shadow: 0px 46px 40px 0px rgba(211, 178, 145, 0.32);
	border-color: #d9535e;
}

.product_item a {
	position: relative;
	z-index: 4;
}

.product_item .thumbnail {
	margin-bottom: 20px;
}

.product_item .thumbnail img {
	width: 100%;
	height: auto;
}

.product_item::before,
.product_item::after {
	width: 100%;
	height: 100%;
	z-index: 3;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transform: scale(0);
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.product_item:hover::after,
.product_item:hover::before {
	-webkit-transform: scale(1);
}

.product_item::before {
	border-bottom: 6px solid #d9535e;
	border-left: 0;
	-webkit-transform-origin: 0% 100%;
}

.product_item::after {
	border-top: 0;
	border-right: 0;
	-webkit-transform-origin: 50% 50%;
}

.product_item .params {
	font-family: 'Futura Medium', Arial;
	font-size: 16px;
	line-height: 145%;
	margin: 10px 0;
}

.product_item .rouble {
	font-size: 18px;
	position: relative;
	top: -1px;
}

.product_item .price .oldprice {
	position: relative;
	color: #c2c2c2;
	padding: 0 10px;
}

.product_item .price .oldprice:after {
	content: '';
	width: 100%;
	height: 1px;
	background-color: #eb7b7e;
	position: absolute;
	left: 0;
	top: 50%;
}

.product_item .price .oldprice,
.product_item .price .nowprice {
	margin: 0 10px;
}

.product_item .title {
	font-size: 21px;
	line-height: 145%;
}

.product_item .add_to_cart a {
	width: 50px;
	height: 50px;
	line-height: 54px;
	text-align: center;
	border-radius: 50%;
	position: absolute;
	bottom: -25px;
	margin-left: -25px;
	background-color: #ea9da2;

	color: #FFF;
	font-size: 18px;
}

.grid_blocks .item:hover {
	position: relative;
	z-index: 3;
}

.product_item:hover .add_to_cart a {
	width: 74px;
	height: 74px;
	background-color: #d9535e;
	font-size: 24px;
	line-height: 78px;
	margin-left: -34px;
	bottom: -34px;
}

/* 
.product_item:hover .add_to_cart a:hover {
	background-color: #69c5b8;
}
*/
.product_item:hover .add_to_cart a:hover {}

.product_item:hover .add_to_cart a {
	-webkit-animation: radial-pulse-proditem 1.2s infinite;
	animation: radial-pulse-proditem 1.2s infinite;
}

@-webkit-keyframes radial-pulse-proditem {
	0% {
		-webkit-box-shadow: 0 0 0 0 rgba(106, 198, 185, 0.1);
		box-shadow: 0 0 0 0 rgba(106, 198, 185, 0.1);
	}

	100% {
		-webkit-box-shadow: 0 0 0 20px rgba(217, 83, 94, 0.4);
		box-shadow: 0 0 0 20px rgba(217, 83, 94, 0.2);
	}
}

@keyframes radial-pulse-proditem {
	0% {
		-webkit-box-shadow: 0 0 0 0 rgba(106, 198, 185, 0.1);
		box-shadow: 0 0 0 0 rgba(106, 198, 185, 0.1);
	}

	100% {
		-webkit-box-shadow: 0 0 0 20px rgba(217, 83, 94, 0.4);
		box-shadow: 0 0 0 20px rgba(217, 83, 94, 0.2);
	}
}

.product_item .favorite {
	position: absolute;
	left: 20px;
	top: 20px;
	z-index: 5;
}

.product_item .favorite a,
.single_item_favorite a {
	width: 38px;
	height: 38px;
	text-align: center;
	line-height: 42px;
	background-color: #f4f4f4;
	border-radius: 50%;
	display: inline-block;
	font-size: 18px;
	color: #cfcfcf;
}

.product_item .favorite a:hover,
.single_item_favorite a:hover {
	background-color: #eca9af;
	color: #FFF;
}

.product_item .favorite.active a,
.single_item_favorite.active a {
	background-color: #d9535f;
	color: #FFF;
}

.about_us {
	background-color: #fdf6f7;
	margin-top: 230px;
	margin-bottom: 100px;
}

.about_us.about_page {
	margin: 0;
}

.about_image img {
	width: 100%;
	height: auto;
}

.about_description {
	margin: 50px 0;
}

.about_header {
	font-size: 99px;
	line-height: 115%;
	padding-top: 0;
	margin-top: 0;
}

.about_title {
	margin-bottom: 50px;
	margin-top: -140px;
	position: relative;
}

.about_title img {
	max-width: 60%;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

.about_title .title {
	font-size: 99px;
	float: right;
	position: absolute;
	top: 290px;
	right: 0;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.about_title .title:before {
	content: '';
	width: 100%;
	position: absolute;
	height: 1px;
	background-color: #db5d68;
	bottom: -25px;
	left: 50%;
}

.about_bottom {
	margin-top: 50px;
	margin-bottom: -130px;
	position: relative;
}

.about_bottom img {
	width: 100%;
	height: auto;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

.about_bottom .overlay {
	position: absolute;
	z-index: 2;
	bottom: 40px;
	left: 40px;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

.play_video {
	height: 90px;
	padding-left: 130px;
	position: relative;
	margin-bottom: 50px;
}

.play_video .video_title {
	font-size: 21px;
	line-height: 125%;
	font-family: 'Futura Medium', Arial;
	width: 115px;
	padding-top: 18px;
}

.play_video .video_title a {
	color: #d9535f;
}

.play_video .video_title a:hover {
	color: #6ac6b9;
}

.play_video .play_icon {
	float: left;
}

.play_video .play_icon a {
	width: 90px;
	height: 90px;
	line-height: 90px;
	display: inline-block;
	border-radius: 50%;
	background-color: #6ac6b9;
	text-indent: -9999px;
	position: absolute;
	left: 0;
}

.play_video .play_icon a:hover {
	background-color: #d9535f;
}

.play_video .play_icon a {
	-webkit-animation: radial-pulse-video 1.2s infinite;
	animation: radial-pulse-video 1.2s infinite;
}

@-webkit-keyframes radial-pulse-video {
	0% {
		-webkit-box-shadow: 0 0 0 0 rgba(106, 198, 185, 0.1);
		box-shadow: 0 0 0 0 rgba(106, 198, 185, 0.1);
	}

	100% {
		-webkit-box-shadow: 0 0 0 20px rgba(106, 198, 185, 0.1);
		box-shadow: 0 0 0 20px rgba(106, 198, 185, 0.1);
	}
}

@keyframes radial-pulse-video {
	0% {
		-webkit-box-shadow: 0 0 0 0 rgba(106, 198, 185, 0.1);
		box-shadow: 0 0 0 0 rgba(106, 198, 185, 0.1);
	}

	100% {
		-webkit-box-shadow: 0 0 0 20px rgba(106, 198, 185, 0.1);
		box-shadow: 0 0 0 20px rgba(106, 198, 185, 0.1);
	}
}

.play_video .play_icon a:hover:before {
	background-size: 30%;
}

.play_video .play_icon a:before {
	width: 100%;
	height: 100%;
	background-image: url(../img/play.svg);
	background-repeat: no-repeat;
	background-position: center center;
	content: '';
	position: absolute;
	left: 5px;
	top: 0;
	background-size: 27%;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

.advantages hr {
	background-color: #eee1df;
}

.advantages .icon {
	margin: 0 auto;
	margin-bottom: 15px;
}

.advantages .icon svg {
	max-height: 60px;
	width: auto;
}

.advantages .icon svg path,
.advantages .icon svg image {
	fill: #c89c96;
}

.advantages.full_background {
	background-color: #f7f7f7;
}

.article_post {
	margin: -60px 0;
}

.article_post .right_layout {
	position: relative;
	z-index: 1;
}

.article_post .left_layout {
	position: relative;
	z-index: 2;
}

.article_post .left_layout img {
	width: 100%;
	height: auto;
}

.article_post .right_layout .article_wrapper {
	padding: 25% 20px;
	position: relative;
	top: 60px;
}

.article_post .right_layout .article_wrapper .title {
	font-size: 36px;
	line-height: 145%;
	max-width: 300px;
	margin: 0 auto;
}

.article_post .right_layout .article_wrapper .descr {
	font-size: 21px;
	line-height: 145%;
	margin: 30px 0;
}

.article_post .right_layout .article_wrapper .overflow {
	position: relative;
	z-index: 3;
}

.article_post .right_layout .article_wrapper:after {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: #d2eeea;
	background-image: url(../img/lines_001.svg);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-transform: translate(-300px, 0px);
	transform: translate(-300px, 0px);
	padding-right: 360px;
}

.link_pulse a {
	width: 100px;
	height: 100px;
	line-height: 105px;
	text-align: center;
	border-radius: 50%;
	background-color: #FFF;
	display: inline-block;
	font-size: 20px;
	color: #c89c96;
	-webkit-animation: radial-pulse 1.2s infinite;
	animation: radial-pulse 1.2s infinite;
}

@-webkit-keyframes radial-pulse {
	0% {
		-webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
	}

	100% {
		-webkit-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.5);
		box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.5);
	}
}

@keyframes radial-pulse {
	0% {
		-webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
	}

	100% {
		-webkit-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.5);
		box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.5);
	}
}

.link_pulse a:hover {
	background-color: #69c5b8;
	color: #FFF;
}

.logos .vertical_align {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 100%;
}

.logos .vertical_align a {
	margin: 0 auto;
}

.logos .row {
	margin: 40px 0;
}

.logos img,
.menu_logos img {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-filter: gray;
	filter: gray;
	opacity: 0.5;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

.logos img:hover,
.menu_logos img:hover {
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	filter: grayscale(0%);
	-webkit-filter: gray;
	filter: gray;
	opacity: 1;
}

section {
	padding: 40px 0;
}

section.blog,
section.article_post,
section.logos {
	padding: 80px 0;
}

.blog {
	background-image: url(../img/lines_002.svg);
	background-position: center center;
	background-repeat: repeat-x;
	background-size: contain;
	margin: -80px 0;
}

.blog_head {
	margin-bottom: 50px;
}

.blog_head .title {
	font-size: 99px;
	float: left;
	position: relative;
}

.blog_head .title:before {
	content: '';
	width: 100%;
	position: absolute;
	height: 1px;
	background-color: #db5d68;
	bottom: -25px;
	left: 50%;
}

.blog_head .morelink {
	float: right;
}

.post_item {
	position: relative;
	padding-left: 50px;
}

.post_item .image {
	margin-bottom: 30px;
}

.post_item .image img {
	width: 100%;
	height: auto;
}

.post_item .date {
	position: absolute;
	width: 170px;
	top: 135px;
	left: -75px;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.post_item .date:before {
	content: '';
	width: 150px;
	position: absolute;
	height: 1px;
	background-color: #db5d68;
	bottom: 0px;
	left: 50%;
}

.footer {
	border-top: 1px solid #e0e0e0;
	padding-bottom: 0;
	margin-top: 100px;
	padding-top: 80px;
}

.footer_menu {
	margin: -15px 0;
	padding: 0;
}

.footer_menu li {
	list-style: none;
	font-size: 18px;
	margin: 15px 0;
}

.footer .title {
	font-size: 48px;
	line-height: 145%;
	margin-bottom: 40px;
}

.footer .downline {
	background-color: #eaa0a2;
	padding: 30px 0;
	color: #FFF;
	font-size: 18px;
	margin-top: 80px;
	line-height: 145%;
}

.footer_contacts a {
	font-size: 24px;
	line-height: 145%;
}

.footer a {
	color: #000;
}

.footer a:hover {
	color: #2d655d;
}

.footer .downline a:hover {
	color: #FFF;
}

.socials ul {
	margin: -10px;
	padding: 0;
}

.socials ul li {
	list-style: none;
	float: left;
	margin: 10px;
}

.socials ul li a {
	display: inline-block;
	width: 48px;
	height: 48px;
	text-align: center;
	line-height: 50px;
	border: 1px solid #000;
	border-radius: 50%;
	font-size: 16px;
}

.socials ul li a:hover {
	background-color: #000;
	color: #FFF;
}

.downline .left {
	float: left;
}

.downline .right {
	float: right;
}

.downline .left a {
	margin-left: 20px;
}

.downline a {
	color: #FFF;
}

.downline a:hover,
.developer:hover a {
	border-bottom: 1px solid #FFF;
}

.developer {
	float: right;
	position: relative;
	padding-right: 90px;
}

.developer img {
	width: 70px;
	height: auto;
	position: absolute;
	top: 0;
	right: 0;
}

.footer_logo {
	margin-top: -80px;
}

.toggle-menu {
	display: block;
	float: right;
	background-color: #f6f6f6;
}

.toggle-menu span.title {
	float: left;
}

.toggle-menu span.burger {
	height: 55px;
	float: left;
	width: 28px;
}

.toggle-menu span.burger:after,
.toggle-menu span.burger:before {
	content: "";
	position: absolute;
	left: 0;
	top: 9px;
}

.toggle-menu span.burger:after {
	top: 18px;
}

.toggle-menu span.burger {
	position: relative;
	display: block;
}

.toggle-menu span.burger,
.toggle-menu span.burger:after,
.toggle-menu span.burger:before {
	width: 28px;
	height: 1px;
	background-color: #000;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border-radius: 2px;
}

.toggle-menu span.burger {
	margin-top: 18px;
}

.toggle-menu span.title {
	margin-left: 15px;
}

.toggle-menu.on span.burger {
	background-color: transparent;
}

.toggle-menu.on span.burger:before {
	-webkit-transform: rotate(45deg) translate(-1px, 0px);
	transform: rotate(45deg) translate(-1px, 0px);
}

.toggle-menu.on span.burger:after {
	-webkit-transform: rotate(-45deg) translate(6px, -7px);
	transform: rotate(-45deg) translate(6px, -7px);
}

.hidden-lg {
	display: none;
	height: 55px;
	line-height: 55px;
	padding: 0 20px;
}

.toggle-menu.on {
	background-color: #d9535e;
	color: #FFF;
}

.toggle-menu.on span.burger,
.toggle-menu.on span.burger:after,
.toggle-menu.on span.burger:before {
	background-color: #FFF;
}

.toggle-menu.on span.burger {
	background-color: transparent;
}

.menu_logos {
	text-align: center;
	margin: -20px;
}

.menu_logos .item {
	display: inline-block;
	margin: 20px -2px;
	width: 20%;
}

.menu_logos .item img {
	max-height: 65px;
	max-width: 80%;
}

.content_wrapper {
	background-color: #f8f8f8;
	background-image: url(../img/lines_bg_min.jpg);
	background-repeat: no-repeat;
	background-position: bottom center;
}

.nobackground {
	background-image: none;
}

.page_heading {
	font-size: 130px;
	line-height: 125%;
	color: #d9535f;
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
}

.page_heading.dark {
	color: #000;
}

.page_heading.small {
	font-size: 45px;
}

.page_404 {
	padding-bottom: 20%;
}

.buttons_link {
	margin-top: 30px;
}

.buttons_link a {
	margin: 10px 15px;
}

.page_404_wrapper {
	max-width: 600px;
	margin: 0 auto;
}

.page_404_wrapper .row [class^="col"] {
	margin: 0;
}

.page_404_wrapper .col-12 {
	width: 100%;
}

.page_registration_wrapper {
	max-width: 750px;
	margin: 0 auto;
}

.page_registration_wrapper .description {
	max-width: 600px;
	margin: 0 auto;
}

.content_wrapper.registration {
	background-image: url(../img/registration_bg.png);
	background-color: #fdf6f7;
	background-position: center bottom;
	position: relative;
	overflow: hidden;
}

/* Vertical Tabs in menu*/
.megamenu.nopadding {
	padding: 35px 0;
}

.selpak-wrapper {}

.selpak-wrapper h1,
.selpak-wrapper h4,
.selpak-wrapper p,
.selpak-wrapper pre,
.selpak-wrapper ul,
.selpak-wrapper li {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
}

.selpak-wrapper li {
	outline: 0;
	text-decoration: none;
	-webkit-transition-property: background color;
	transition-property: background color;
	-webkit-transition-duration: 0.12s;
	transition-duration: 0.12s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

#v-nav {
	height: 100%;
	margin: auto;
}

#v-nav > ul {
	float: left;
	width: 300px;
	display: block;
	position: relative;
	top: 0;
	margin: auto 0 !important;
	padding: 0;
	border-right: 1px solid #e0e0e0;
}

#v-nav > ul > li {
	list-style-type: none;
	display: block;
	position: relative;
	margin: auto;
}

#v-nav > ul > li > a {
	padding: 6px 35px;
	font-size: 20px;
	display: block;
	height: auto;
	line-height: inherit;
	color: #000;
    text-decoration: none;
}

#v-nav > ul > li.current a {
	color: black;
	border-right: none;
	z-index: 10;
	background: white !important;
	position: relative;
	color: #000;
}

#v-nav > ul > li.first.current {}

#v-nav > div.tab-content {
	margin-left: 300px;
	position: relative;
	z-index: 9;
	display: none;
	padding: 0 25px;
}

.main_menu .tab-content a {
	display: block;
	height: auto;
	line-height: inherit;
	font-size: 20px;
	color: #000 !important;
	padding: 0;
}

.main_menu .tab-content a:hover {
	color: #d9535f !important;
}

.main_menu .tab-content ul {
	margin: -5px 0;
	padding: 0;
}

.main_menu .tab-content ul li {
	margin: 0;
	padding: 5px 0;
	display: block;
}

.main_menu .tab-content .menu_title {
	font-size: 24px;
	color: #d9535f;
	margin-bottom: 15px;
}

.banners_images {
	margin: -30px 0;
}

.banners_images .item {
	margin: 30px 0;
}

.banners_images .item img {
	width: 100%;
	height: auto;
}

.banners_images .item:hover img {
	opacity: 0.8;
}

.centered_description {
	max-width: 800px;
	margin: 0 auto;
}

.grid_blocks {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: start;
	margin: -25px 0;
}

.grid_blocks.faq_list {
	padding: 20px 0;
	padding-top: 40px;
}

.grid_blocks .item {
	position: relative;
	z-index: 1;
	float: left;
	width: 25%;
	-webkit-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

.grid_blocks.faq_list .item,
.grid_blocks.category_blog .item {
	width: 33.33%;
}

.grid_blocks .item .padding:hover {
	-webkit-box-shadow: 0px 46px 40px 0px rgba(220, 85, 97, 0.15);
	box-shadow: 0px 46px 40px 0px rgba(220, 85, 97, 0.15);
	position: relative;
	z-index: 2;
	-webkit-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

.grid_blocks .item .padding {
	background-color: #FFF;
	text-align: center;
	padding: 40px;
	margin: 25px;
}

.grid_blocks .item .product_item {
	margin: 25px;
}

.grid_blocks.faq_list .item .icon svg {
	height: 60px;
}

.grid_blocks.faq_list .item .icon svg path {
	fill: #dd5d6a
}

.grid_blocks.faq_list .item .btn {
	margin-top: 25px;
}

.grid_blocks.faq_list .item .title {
	font-size: 27px;
	line-height: 125%;
	margin: 20px 0;
}

.grid_blocks.faq_list .item .title a {
	color: #d9535f;
}

.grid_blocks.faq_list .item .title a:hover {
	color: #000;
}

/* 
.grid_blocks .item:nth-of-type(3n-1) {
	-webkit-transform: translate(0px, 50px);
	transform: translate(0px, 50px);
}
*/

.no_padding_bottom {
	padding-bottom: 0;
}

/*Contact block*/
.contact_block {
	font-size: 24px;
	line-height: 145%;
	background-color: #f8f8f8;
}

.contact_block .wrapper {
	max-width: 700px;
}

.contact_block h3 {
	font-size: 48px;
	line-height: 125%;
	color: #d9535f;
	margin: 0;
	padding: 0;
}

.contact_block .description {
	margin: 20px 0;
}

.contact_block .phone span {
	font-size: 36px;
	line-height: 145%;
	color: #d9535f;
	position: relative;
	top: 7px;
	margin-right: 20px;
}

.contact_block .worktime {
	margin-top: 25px;
}

.wrapper {
	max-width: 1170px;
	padding: 0 30px;
	margin: 0 auto;
}

.subscribe_block {
	background-color: #f0f0f0;
	overflow: hidden;
	position: relative;
	padding: 80px 0;
}

.subscribe_block input[type=text] {
	background-color: #FFF;
}

.subscribe_block .wrapper {
	position: relative;
	z-index: 2;
}

.subscribe_block .title {
	color: #d9535f;
	font-size: 48px;
	line-height: 125%;
}

.subscribe_block .description {
	font-size: 24px;
	line-height: 145%;
	max-width: 400px;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

.subscribe_block .form input {
	margin: 10px;
}

.subscribe_block .form input[type=text] {
	width: 320px;
}

.subscribe_block .left_image {
	width: 535px;
	height: 416px;
	background-image: url(../img/subscribe_image_left.png);
	background-repeat: no-repeat;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -208px;
	margin-left: -835px;
	z-index: 1;
}

.subscribe_block .right_image {
	width: 732px;
	height: 231px;
	background-image: url(../img/subscribe_image_right.png);
	background-repeat: no-repeat;
	position: absolute;
	z-index: 1;
	left: 50%;
	bottom: 0;
	margin-left: 30px;
}

.white_wrapper {
	padding: 50px;
	background-color: #FFF;
}

/* 
Spoiler
*/
.spoiler_wrapper {
	margin-top: -20px;
}

.spoiler_content {
	display: none;
	height: auto !important;
	padding: 40px;
	border: 1px solid #d9535f;
	border-top: 0;
}

.spoiler_content.withouticon {
	position: relative;
	padding-left: 110px;
}

.spoiler_content.withouticon span {
	position: absolute;
	top: 40px;
	left: 40px;
	font-size: 30px;
	color: #d9535f;
}

.spoiler_content img {
	margin-bottom: 20px;
}

.spoiler_title {
	cursor: pointer;
	border-bottom: 1px solid #d9535f;
	font-size: 30px;
	line-height: 145%;
	color: #d9535f;
	padding: 20px 0;
	position: relative;
	padding-left: 70px;
}

.spoiler_title:hover,
.spoiler_title.active {
	color: #000;
}

.spoiler_title:after {
	content: '+';
	text-align: center;
	color: #000;
	width: 45px;
	height: 45px;
	background-color: #ececec;
	position: absolute;
	left: 0;
	top: 19px;
	line-height: 45px;
	font-family: 'Futura Medium', Arial;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

.spoiler_title:hover:after {
	background-color: #6ac6b9;
	color: #FFF;
}

.spoiler_title.active:after {
	content: '–';
	line-height: 42px;
	color: #FFF;
	background-color: #d9535f;
}

.grid {
	margin: -25px;
}

.grid img {
	width: 100%;
	height: auto;
}

.grid.x3 .item {
	float: left;
	width: 33.33%;
}

.grid.x3 .item.x2 {
	width: 66.66%;
}

.grid .item .border {
	padding: 25px;
}

.personal_area h1,
.personal_area h2,
.personal_area h3,
.personal_area h4,
.personal_area h5,
.personal_area h6 {
	color: #d9535f;
}

.area_title {
	margin-top: 0;
}

.title_subline {
	border-bottom: 4px solid #69c5b8;
	padding-bottom: 20px;
	color: #d9535f;
}

.title_subline.notopmargin {
	margin-top: 0;
}

.personal_area .params {
	margin: 0;
	padding: 0;
}

.personal_area a {
	color: #d9535f;
}

.personal_area a:hover {
	color: #000;
}

.personal_area .params li {
	list-style: none;
	margin: 5px 0;
	font-size: 23px;
	line-height: 145%;
}

.personal_area .buttons {
	margin-top: 30px;
}

.personal_area .buttons .btn {
	color: #FFF;
}

.discount {
	background-color: #fdf6f7;
	border: 1px solid #d9535f;
	color: #d9535f;
	padding: 30px;
	font-size: 20px;
}

.discount_lines {
	margin-bottom: -15px;
}

.discount_lines .line {
	margin-bottom: 15px;
}

.discount_lines .line .descr {
	font-size: 18px;
}

.discount_lines .line .scroll_area {
	position: relative;
	width: 100%;
	height: 6px;
	background-color: #ffeaeb;
	margin-bottom: 10px;
}

.discount_lines .line .scroll_area:after {
	content: '';
	position: absolute;
	width: 33.33%;
	height: 100%;
	background-color: #d9535f;
}

.discount_lines .line .scroll_area.x2:after {
	width: 66.66%;
}

.discount_lines .line .scroll_area.x3:after {
	width: 100%;
}

.pagelist {
	margin: -10px;
	margin-bottom: 30px;
	padding: 0;
}

.pagelist li {
	list-style: none;
	display: inline-block;
	margin: 10px;

}

.personal_area_spoilers .spoiler_title {
	padding-bottom: 10px;
}

.personal_area_spoilers .spoiler_content {
	padding: 0;
}

.without_status {
	margin-right: 10px;
	margin-bottom: 10px;
	display: inline-block;
}

.status {
	font-size: 17px;
	color: #FFF;
	background-color: #69c5b8;
	display: inline-block;
	padding: 10px;
	padding-top: 3px;
	padding-bottom: 5px;
	line-height: 125%;
	font-family: 'Futura Medium', Arial;
	position: relative;
	top: -5px;
}

.status.wait {
	background-color: #fffaae;
	color: #000;
}

.status.cancel {
	background-color: #d95353;
}

.cart_items .item:nth-child(odd) {
	background-color: #f9f9f9;
}

.cart_items .item {
	padding: 20px;
	min-height: 100px;
	position: relative;
	padding-left: 150px;
}

.cart_items .item .thumbnail {
	position: absolute;
	width: 100px;
	left: 20px;
	top: 20px;
}

.cart_items .item .prod_name {
	font-size: 23px;
	margin: 7px 0;
}

.cart_items .item .prod_name a {
	color: #000;
}

.cart_items .item .prod_name a:hover {
	color: #d95353;
}

.cart_items .item .prod_info span,
.cart_items .item .prod_total_info span {
	font-size: 16px;
	font-family: 'Futura Medium', Arial;
	display: inline-block;
	margin-right: 20px;
}

.cart_items .item .prod_total_info {
	margin-top: 10px;
}

.cart_items .item .prod_total_info span {
	font-size: 22px;
	font-family: 'Futura Light', Arial;
}

.total_info {
	font-size: 30px;
	padding: 35px 30px;
	border-top: 1px solid #f1f1f1;
}

.total_info span {
	font-family: 'Futura Medium', Arial;
	color: #69c5b8;
}

/* 
Forms Grid
*/
.forms-grid {
	margin: -15px 0;
}

.forms-grid .left .border-form {
	padding-right: 25px;
}

.forms-grid .right .border-form {
	padding-left: 25px;
}

.forms-grid::after {
	content: "";
	clear: both;
	display: table;
}

[class*="forms-col-"] {
	float: left;
	margin: 15px 0;
}

.forms-col-1 {
	width: 8.33%;
}

.forms-col-2 {
	width: 16.66%;
}

.forms-col-3 {
	width: 25%;
}

.forms-col-4 {
	width: 33.33%;
}

.forms-col-5 {
	width: 41.66%;
}

.forms-col-6 {
	width: 50%;
}

.forms-col-12 {
	width: 100%;
}

.without_icon_input {
	position: relative;
}

.without_icon_input .icon {
	width: 47px;
	height: 47px;
	line-height: 52px;
	color: #FFF;
	position: absolute;
	text-align: center;
	left: 0;
	top: 0;
	background-color: #eaa0a2;
	font-size: 18px;
}

.without_icon_input input {
	padding-left: 67px;
}

/* 
Files area
*/
.drop {
	width: 100%;
	border: 1px dashed #d9535f;
	border-radius: 15px;
	overflow: hidden;
	text-align: center;
	background: white;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	margin: auto;
	position: relative;
	height: 340px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}


.drop .cont {
	height: 170px;
	color: #8E99A5;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.drop .cont svg {
	position: relative;
}

.drop .cont .desc {
	color: #000;
	margin: 15px 0;
	font-size: 18px;
}

.drop .cont .browse {
	height: 47px;
	line-height: 47px;
	display: inline-block;
	padding: 0 20px;
	background-color: #eaa0a2;
	color: #FFF;
	font-family: 'Futura Medium', Arial;
	font-size: 17px;
	border: 0;
	cursor: pointer;
	position: relative;
}

.drop input {
	width: 100%;
	height: 100%;
	cursor: pointer;
	background: red;
	opacity: 0;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

#list {
	width: 100%;
	text-align: center;
	position: absolute;
	left: 0;
	top: 0;
}

#list .thumb {
	height: 75px;
	width: auto;
	border: 1px solid #d3d3d3;
	margin: 10px;
}

#list span {
	max-width: 100px;
}

.category_description {
	padding-bottom: 0;
	padding-top: 60px;
}

.category_description img {
	width: 100%;
	height: auto;
}

.category_description h4 {
	margin-top: 0;
}

.category_description .devider_line {
	width: 100%;
	height: 1px;
	background-color: #eee1df;
	margin-top: 60px;
}

.ajax_loadmore {
	font-size: 24px;
	color: #c89c96;
	display: inline-block;
	padding: 17px 35px;
	border: 1px solid #c89c96;
	position: relative;
	margin-top: 60px;
	padding-left: 60px;
}

.ajax_loadmore span {
	position: absolute;
	left: 20px;
	top: 50%;
	width: 24px;
	height: 24px;
	margin-top: -12px;
}

.ajax_loadmore:hover {
	background-color: #eaa0a2;
	border-color: #eaa0a2;
	color: #FFF;
}

.categories_list {
	margin: 0;
	padding: 30px 0;
	border-top: 1px solid #e9dcda;
	display: block !important;
}

.categories_list.inversion {
	border-top: 0;
	border-bottom: 1px solid #e9dcda;
	padding-top: 0;
	margin-bottom: 40px;
}

.categories_list li {
	list-style: none;
	float: left;
	width: 25%;
	text-align: left;
}

.categories_list li a {
	display: inline-block;
	padding: 6px 20px;
	font-size: 18px;
}

.categories_list li a:hover {
	background-color: #FFF;
}

.categories_list li.current a {
	color: #FFF;
	background-color: #6ac6b9;
}

.cat_list_open {
	color: #FFF;
	background-color: #ea9fa2;
	padding: 6px 20px;
	font-size: 18px;
	display: block;
	cursor: pointer;
	position: relative;
	display: none !important;
}

.cat_list_open.openmenu {
	background-color: #d9535f;
}

.cat_list_open.openmenu .lnr-chevron-down:before {
	content: "\e873";
}

.cat_list_open span {
	position: relative;
	top: 2px;
	margin-right: 10px;
	font-size: 16px;
}

.search_result .forms-col-6 {
	margin: 0 auto;
	float: none;
}

.forms-grid.search_result {
	margin: 0;
	margin-bottom: 30px;
}

.search_result input {
	background-color: #FFF;
}

.search_form {
	position: relative;
}

.search_form .search {
	position: absolute;
	z-index: 2;
	cursor: pointer;
	right: 0;
	top: 0;
    padding: 0 60px;
	width: 47px;
	height: 47px;
	text-indent: -9999px;
	background-image: url(../img/search/search.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.search_form .search_area_input {
	padding-right: 65px;
}

.grid_blocks.category_blog .item:nth-of-type(3n-1) {
	-webkit-transform: translate(0px, 0px);
	transform: translate(0px, 0px);
}

.category_blog .post_item {
	padding-left: 0;
}

.category_blog .post_item .date {
	font-size: 17px;
	color: #d9535f;
	position: relative;
	width: auto;
	top: inherit;
	left: inherit;
	display: inline-block;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}

.category_blog .post_item .date:before {
	width: 100%;
	left: inherit;
}

.category_blog .post_title {
	margin: 15px 0;
	font-size: 30px;
	line-height: 125%;
}

.category_blog .post_item .image {
	margin-bottom: 20px;
}

.category_blog .post_item {
	padding: 25px;
}

.category_blog .post_item.without_overlay .image {
	position: relative;
	z-index: 1;
	overflow: hidden;
}

.category_blog .post_item.without_overlay .image .overlay {
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 40px;
	background-color: rgba(0, 0, 0, 0.3);

}

.category_blog .post_item.without_overlay .image img {
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition: all .4s linear;
	transition: all .4s linear;
}

.category_blog .post_item.without_overlay .image:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.category_blog .post_item.without_overlay a {
	overflow: hidden;
}

.category_blog .post_item.without_overlay .image:hover .overlay {
	background-color: rgba(0, 0, 0, 0.4);
}

.category_blog .post_item.without_overlay a,
.category_blog .post_item.without_overlay .date {
	color: #FFF;
}

.category_blog .post_item.without_overlay .date:before {
	background-color: #FFF;
}

.category_blog .post_item.without_overlay .overlay .position_wrap {
	position: absolute;
	width: 100%;
	bottom: 40px;
	left: 0;
	padding: 0 40px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.page_sidebar .page_header {
	padding-top: 0;
	margin-top: 0;
}

.page_sidebar .post_preview {
	margin-bottom: 40px;
}

blockquote {
	background: #FFF;
	border-left: 3px solid #eaa0a2;
	margin: 30px 0;
	padding: 30px 0;
	padding-bottom: 15px;
	padding-left: 50px;
	padding-right: 30px;
	position: relative;
	color: #000;
}

blockquote:before {
	color: #eaa0a2;
	position: absolute;
	left: 20px;
	top: 10px;
	font-size: 90px;
	margin-right: .25em;
	vertical-align: -.4em;
	font-family: Arial;
	content: "\201C";
}

.page_sidebar blockquote {
	margin-left: -50px;
}

.page_sidebar .post_date {
	font-size: 17px;
	display: inline-block;
	margin-bottom: 35px;
	color: #d9535f;
	border-bottom: 1px solid #d9535f;
}

.page_sidebar .grid_blocks .item {
	float: none;
	width: 100%;
}

.page_sidebar ul {
	margin: 30px 0;
	padding-left: 0;
}

.page_sidebar ul li {
	position: relative;
	list-style: none;
	padding-left: 19px;
	margin: 8px 0;
}

.page_sidebar ul li:before {
	border-radius: 50%;
	width: 6px;
	height: 6px;
	content: "";
	display: block;
	background-color: #ea9fa2;
	position: absolute;
	left: 0;
	top: 12px;
}

.buttons_preview a {
	display: inline-block;
	margin-right: 15px;
	margin-bottom: 15px;
}

.logos_area {
	text-align: center;
}

.logos_area .logo_item {
	display: inline-block;
	width: 21%;
	padding: 0 2%;
	margin: 40px -2px;
}

.logos_area h2 {
	font-size: 48px;
	max-width: 700px;
	margin: 0 auto;
}

.logos_area h2.logo_block {
	color: #d9535f;
}

.info_small {
	max-width: 540px;
	margin: 0 auto;
	font-size: 18px;
	line-height: 145%;
	margin-top: 30px;
}

.info_small a {
	text-decoration: underline;
}

.registration .forms-grid input {
	background-color: #FFF;
}

.registration .forms-grid {
	margin: 20px 0;
}

.page_registration_wrapper {
	position: relative;
	z-index: 2;
}

.parallax_01 {
	background-image: url(../img/parallax_01.png);
	position: absolute;
	right: 50%;
	top: 50px;
	width: 401px;
	height: 585px;
	margin-right: 401px;
	z-index: 1;
}

.parallax_02 {
	background-image: url(../img/parallax_02.png);
	position: absolute;
	left: 50%;
	top: 20px;
	width: 401px;
	height: 636px;
	margin-left: 401px;
	z-index: 1;
}

.parallax_03 {
	background-image: url(../img/parallax_03.png);
	position: absolute;
	right: 50%;
	margin-right: 466px;
	top: 550px;
	width: 486px;
	height: 597px;
	z-index: 1;
}

.parallax_04 {
	background-image: url(../img/parallax_04.png);
	position: absolute;
	left: 50%;
	margin-left: 570px;
	top: 500px;
	width: 426px;
	height: 650px;
	z-index: 2;
}

.icon_advantages {
	max-width: 1170px;
	margin: 0 auto;
	background-color: #FFF;
	padding: 50px 0;
	margin-top: 60px;
	position: relative;
	z-index: 2;
}

.icon_advantages .item {
	float: left;
	width: 29.33%;
	padding: 0 2%;
}

.icon_advantages .item .title {
	padding: 0 50px;
}

.icon_advantages .item .icon {
	margin-bottom: 20px;
}

/* 
Cart page
*/
.cart_page .page_heading.small {
	font-size: 72px;
}

.cart_page input,
.cart_page textarea {
	background-color: #FFF;
}

.checkbox_line > div {
	-webkit-transition-duration: 0s;
	transition-duration: 0s;
}

.checkbox_line {
	position: relative;
	padding-left: 35px;
	width: 100%;
	display: block;
	font-size: 17px;
	line-height: 135%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 15px;
}

.checkbox_line div {
	position: absolute;
	left: 0;
	top: -1px;
}

.cart_page .forms-grid .left .border-form {
	padding-right: 15px;
}

.cart_page .forms-grid .right .border-form {
	padding-left: 15px;
}

.delivery_select .checkbox_line .title {
	font-size: 21px;
	color: #d9535f;
	display: block;
}

.delivery_select .checkbox_line span {
	margin-top: 8px;
	display: block;
}

.pay_info img {
	width: auto;
}

.recipient_wrapper {
	display: none !important;
}

.recipient_wrapper.open {
	display: block !important;
}

.small_info {
	font-size: 17px;
	line-height: 135%;
}

.small_info a {
	text-decoration: underline;
}

.pay_button {
	width: 100%;
	display: block;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
	padding: 17px;
	height: auto;
	font-size: 30px;
	margin: 25px 0;
}

.btn.iconlink.pay_button span.lnr {
	margin-left: 15px;
}

.order-price__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: flex-start;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	min-height: 21px;
	margin-bottom: 12px;
	width: 100%;
	color: #d9535f;
}

.order-price__row-title,
.order-price__row-value {
	float: none;
	-ms-flex-item-align: end;
	-webkit-align-self: flex-end;
	align-self: flex-end;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-weight: normal;
}

.order-price__row-path {
	height: 1px;
	border-bottom: dotted 1px #d9535f;
	-webkit-box-flex: 1;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	-ms-flex-item-align: end;
	-webkit-align-self: flex-end;
	align-self: flex-end;
	margin: 0 8px 7px 8px;
}

.order-price__row-title,
.order-price__row-value {
	float: none;
	-ms-flex-item-align: end;
	-webkit-align-self: flex-end;
	align-self: flex-end;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-weight: normal;
}

.order-price__row-title .count {
	display: inline-block;
	padding: 0 8px;
	background-color: #d9535f;
	font-size: 12px;
	color: #FFF;
	height: 22px;
	line-height: 22px;
	border-radius: 50px;
	position: relative;
	top: 4px;
	margin-left: 7px;
}

.table_row {
	margin: 30px 0;
}

/* 
Cart items
*/
.cart_items {
	margin-bottom: -3px;
}

.cart_item {
	background-color: #FFF;
	margin-bottom: 3px;
}

.cart_item .cart_item_border {
	padding: 25px;
	position: relative;
	min-height: 70px;
}

.cart_item .cart_item_photo {
	float: left;
	width: 10%;
	position: relative;
	z-index: 2;
}

.cart_item .cart_item_info {
	float: left;
	margin: 0 4%;
	width: 45%;
}

.cart_item .cart_item_quantity {
	float: left;
	margin-right: 4%;
}

.cart_item_price {
	float: left;
}

.cart_item_delete {
	float: right;
}

.cart_item .cart_item_params span {
	display: inline-block;
	margin: 5px;
	margin-left: 0;
	margin-right: 15px;
	margin-bottom: 0;
	font-family: 'Futura Medium', Arial;
	font-size: 16px;
}

.cart_item .cart_item_info .title {
	font-size: 20px;
}

/* -- quantity box -- */

.quantity {
	display: inline-block;
}

.quantity .input-text.qty {
	width: 35px;
	height: 35px;
	padding: 0;
	text-align: center;
	background-color: #f6f6f6;
	border: 0;
	font-size: 16px;
	font-family: 'Futura Light', Arial;
}

.quantity.buttons_added {
	text-align: left;
	position: relative;
	white-space: nowrap;
	vertical-align: top;
}

.quantity.buttons_added input {
	display: inline-block;
	margin: 0;
	vertical-align: top;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.quantity.buttons_added .minus,
.quantity.buttons_added .plus {
	padding: 0;
	height: 35px;
	width: 35px;
	line-height: 35px;
	text-align: center;
	background-color: #ececec;
	border: 0;
	cursor: pointer;
}


.quantity.buttons_added .minus {
	border-right: 0;
}

.quantity.buttons_added .plus {
	border-left: 0;
}

.quantity.buttons_added .minus:hover,
.quantity.buttons_added .plus:hover {
	color: #FFF;
	background-color: #d9535f;
}

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	margin: 0;
}

.quantity.buttons_added .minus:focus,
.quantity.buttons_added .plus:focus {
	outline: none;
}

.cart_page .delete_square {
	position: absolute;
	right: 25px;
	top: 25px;
	width: 22px;
	height: 22px;
	float: left;
	line-height: 25px;
	text-align: center;
	font-size: 10px;
	color: #FFF;
	background-color: #eba8ae;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.cart_page .delete_square:hover {
	color: #FFF;
	background-color: #d9535f;
}

.cart_page .total_cart {
	font-size: 30px;
	text-align: right;
	margin: 40px 0;
}

.cart_page .total_cart span {
	font-family: 'Futura Medium', Arial;
	color: #69c5b8;
}

.buy_items .product_item .price .nowprice {
	display: block;
}

.buy_items .product_item {
	padding: 25px;
	margin-bottom: 60px;
	padding-bottom: 40px;
}

.buy_items .product_item .title {
	font-size: 20px;
	line-height: 145%;
}

.buy_items .product_item:hover {
	-webkit-box-shadow: 0px 0px 0px 0px rgba(211, 178, 145, 0.32);
	box-shadow: 0px 0px 0px 0px rgba(211, 178, 145, 0.32);
}

.buy_items_block h2 {
	color: #d9535f;
	float: left;
	padding-top: 0;
	margin-top: 0;
}

.dotsrestyle .owl-dot,
.owl-theme .owl-dots .owl-dot span {
	width: 13px;
	height: 13px;
	border: 0;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	padding: 0;
	background-color: #eba8ae;
	margin-left: 17px;
	cursor: pointer;
}

.owl-theme .owl-dots .owl-dot span {
	margin: 0 4px;
}

.owl-theme .owl-nav.disabled + .owl-dots {
	margin-top: 20px;
	margin-bottom: -15px;
}

.dotsrestyle .owl-dot.active,
.owl-theme .owl-dots .owl-dot.active span {
	background-color: #d9535f;
}

.buy_items_navdots {
	float: right;
	margin-top: 15px;
}

/* 
Single item
*/
.single_item {
	padding: 50px;
	background-color: #FFF;
}

.category_link {
	margin-bottom: 20px;
	margin-top: -15px;
	font-size: 20px;
	line-height: 145%;
}

.grid_columns .grid_column_x1 {
	float: left;
	width: 33.33%;
}

.grid_columns .grid_column_x2 {
	float: left;
	width: 50%;
}

.grid_columns .grid_column_x3 {
	float: left;
	width: 66.66%;
}

.grid_columns .grid_column_x2 .padding_right {
	padding-right: 25px;
	position: relative;
}

.grid_columns .grid_column_x2 .padding_left {
	padding-left: 25px;
	position: relative;
}

.single_item .sku {
	font-size: 18px;
}

.single_item .item_title {
	font-size: 36px;
	line-height: 145%;
	margin: 15px 0;
}

.single_item .item_params {
	font-size: 18px;
	font-family: 'Futura Medium', Arial;
}

.single_item .item_description {
	margin-top: 20px;
}

.single_item .item_quantity {
	margin-top: 20px;
}

.single_item .item_quantity .quantity.buttons_added .minus,
.single_item .item_quantity .quantity.buttons_added .plus {
	height: 46px;
	width: 46px;
	line-height: 46px;
	font-size: 28px;
}

.single_item .item_quantity .quantity .input-text.qty {
	width: 46px;
	height: 46px;
	font-size: 18px;
}

.price_area {
	margin: 25px 0;
	margin-bottom: 0;
}

.price_area .nowprice {
	font-size: 46px;
	line-height: 46px;

}

.price_area .price_area_left {
	float: left;
}

.price_area .price_area_left .nowprice {
	display: block;
}

.price_area .price_area_left .oldprice {
	position: relative;
	padding: 0 10px;
	color: #bfbfbf;
	margin-top: 5px;
	display: inline-block;
}

.price_area .price_area_left .oldprice:after {
	content: '';
	width: 100%;
	height: 1px;
	background-color: #eb7b7e;
	position: absolute;
	left: 0;
	top: 50%;
}

.single_item_favorite {
	position: absolute;
	right: -20px;
	top: -20px;
	z-index: 2;
}


.single_item .price_area_right {
	float: left;
	margin-left: 30px;
	position: relative;
	top: -15px;
}

.single_item .price_area_right .btn {
	height: 70px;
	line-height: 70px;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
	padding: 0 30px;
}

.single_item .price_area_right .btn.iconlink.iconleft span.lnr {
	margin-right: 15px;
}

.single_item .item_brand {
	margin: 30px 0;
}

.single_item .item_brand .brand_logo {
	float: left;
}

.single_item .item_brand .brand_logo img {
	max-width: 80px;
}

.single_item .item_brand .brand_info {
	float: left;
	margin-left: 20px;
	margin-top: 10px;
    text-align:left;
}

.single_item .item_brand .brand_info span {
	display: block;
	font-family: 'Futura Medium', Arial;
}

.single_item .item_main_description .title {
	font-size: 24px;
	line-height: 145%;
	color: #69c5b8;
	font-family: 'Futura Medium', Arial;
	margin-bottom: 25px;
}

.single_item .item_main_description {
	background-color: #fbfbfb;
	padding: 35px 50px;
	padding-left: 47px;
	font-size: 19px;
	line-height: 145%;
	border-left: 4px solid #69c5b8;
	margin-left: -50px;
}

.grid_columns .grid_column_x3.single_left_column {
	width: 60%;
}

.grid_columns .grid_column_x1.single_right_column {
	float: right;
	border-left: 4px solid #69c5b8;
	padding-left: 5%;
	margin-left: 4%;
	width: 30%;
}

.grid_columns.margintop {
	margin-top: 50px;
}

/* 
Single Item tabs
*/
.tabs_single {
	margin: 0;
	padding: 0;
}

div.grid_column_x3 div.item_main_description {
	margin-bottom: 50px;
}

.tabs_single li {
	float: left;
	margin-right: 30px;
	margin-bottom: 20px;
	list-style: none;
}

.tabs_single li.current,
.tabs_single li.current:hover {
	background-color: #69c5b8;
	color: #FFF;
}

.tab-content-single {
	display: none;
}

.tab-content-single.current {
	display: block;
}

.tab-content-single {
	font-size: 19px;
	line-height: 145%;
}

.tab-content-single h1,
.tab-content-single h2,
.tab-content-single h3,
.tab-content-single h4,
.tab-content-single h5,
.tab-content-single h6 {
	color: #d9535f;
}

.tab-content-single h5 {
	font-size: 30px;
}

.tab-content-single h6 {
	font-size: 24px;
}

.tab-content-single a {
	color: #d9535f;
	text-decoration: underline;
}

.tab-content-single a:hover {
	color: #000;
}

/* 
Recommend block
*/
.recommend_block h6 {
	margin-top: 0;
	padding: 0 10%;
	color: #d9535f;
}

.recommend_block {
	margin-bottom: -50px;
}

.recommend_block .product_item {
	box-shadow: 0px 46px 40px 0px rgba(233, 233, 233, 1);
	margin-bottom: 50px;
}

/* 
Package block
*/
.buy_package .button,
.buy_package .package_info,
.buy_package .package_description {
	float: left;
	margin-right: 30px;
}

.buy_package .package_description {
	width: 230px;
	font-size: 18px;
	line-height: 135%;
}

.buy_package .button a {
	display: block;
	width: 74px;
	height: 74px;
	line-height: 74px;
	text-align: center;
	padding: 0;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	font-size: 24px;
	text-decoration: none;
	color: #FFF;
}

.buy_package .package_info .title {
	font-size: 25px;
	line-height: 145%;
	color: #69c5b8;
	font-family: 'Futura Medium', Arial;
}

.buy_package .package_info .price {
	font-size: 29px;
	line-height: 145%;
	color: #69c5b8;
}

.buy_package .package_info .quantity {
	font-family: 'Futura Medium', Arial;
	font-size: 18px;
}

.buy_package .package_info {
	position: relative;
	top: -5px;
}

/* 
Slider 
*/
.wrapCarouselFull {
	display: block;
	position: relative;
	margin: 0 auto;
    height:510px;
}

.item-carousel-full {
	position: relative;
}

.item-carousel-full .zoom_image {
	position: absolute;
	z-index: 2;
	bottom: 0;
	left: 0;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	display: inline-block;
	background-color: #FFF;
	color: #cacaca;
	font-size: 18px;
}

.item-carousel-full .zoom_image:hover {
	background-color: #d9535f;
	color: #FFF;
}

.wrapCarouselThumbs {
	display: block;
	position: relative;
	margin: 0 auto;
	margin-top: 20px;
}

.wrapCarouselThumbs .owl-item {
	padding: 5px;
	border: 1px solid rgba(217, 83, 95, 0.4);
}

.wrapCarouselThumbs {
	text-align: center;
}


.wrapCarouselThumbs .owl-carousel .owl-stage {
	width: auto !important;
}


.wrapCarouselThumbs .owl-item {
	float: none !important;
	display: inline-block !important;
	width: auto !important;
	cursor: pointer;
	margin: 4px 10px !important;
}

.wrapCarouselThumbs .owl-item img {
	max-width: 70px;
	height: auto;
}

.wrapCarouselThumbs .owl-carousel .owl-stage {
	transform: translate3d(0px, 0px, 0px) !important;
	transition: all 0.2s ease 0s !important;
	width: auto !important;
	margin: 0 -10px !important;
}

.wrapCarouselThumbs .owl-item.current {
	border: 1px solid #d9535f;
}

/*Fancybox*/
.popup {
	width: 600px;
	padding: 60px 100px;
}

.popup h5 {
	margin-top: 0;
	color: #d9535f;
}

.popup .policy_info {
	font-size: 18px;
	line-height: 145%;
	margin: 0 -50px;
	margin-top: 20px;
}

.popup .policy_info a {
	color: #d9535f;
	text-decoration: underline;
}

.main .fancybox-button svg path {
	fill: #d9535f;
}

.card .fancybox-button svg path {
	fill: currentColor;
	stroke-width: 0;
}

.main .fancybox-button svg path {
	fill: #d9535f;
}

.main .fancybox-button {
	background: rgba(255, 232, 232, 0.6);
}

.popup .forms-grid .left .border-form {
	padding-right: 0;
}

.fancybox-bg {
    background: #fdf6f7;
}

.fancybox-slide--html .fancybox-close-small {
	padding: 5px;
	margin: 10px;
}

.popup.fancybox-content {
	overflow: visible;
}

.popup .logo_header {
	margin-top: -60px;
}

/* Styles for animated modal */
.animated-modal {
	overflow: hidden;
	transform: translateY(-80px);
	transition: all .5s;
	/* Should match `data-animation-duration` parameter */
}

.animated-modal h5,
.animated-modal p {
	transform: translateY(-40px);
	opacity: 0;
	transition-property: transform, opacity;
	transition-duration: .3s;
}

/* Final state */
.fancybox-slide--current .animated-modal,
.fancybox-slide--current .animated-modal h5,
.fancybox-slide--current .animated-modal p {
	transform: translateY(0);
	opacity: 1;
	transition-duration: .3s;
}

/* Reveal content with different delays */
.fancybox-slide--current .animated-modal h5 {
	transition-delay: .1s;
}

.fancybox-slide--current .animated-modal p {
	transition-delay: .4s;
}

.fancybox-slide--current .animated-modal p:first-of-type {
	transition-delay: .2s;
}

.popup .registery {
	font-size: 30px;
	margin-top: -20px;
	margin-bottom: 40px;
}

.popup .registery a {
	color: #d9535f;
	border-bottom: 1px solid #d9535f;
}

.popup .registery a:hover {
	color: #000;
	border-bottom-color: #000;
}

.enter_area {
	margin-top: 20px;
}

.enter_area .enter_button {
	float: left;
	margin-right: 20px;
}

.enter_area .enter_info {
	float: left;
	width: 250px;
	font-size: 17px;
	line-height: 145%;
	position: relative;
	top: -1px;
}

.enter_area .enter_info span {
	display: block;
}

.enter_area .enter_info a {
	color: #d9535f;
	border-bottom: 1px solid #d9535f;
}

.enter_area .enter_info a:hover {
	color: #000;
	border-bottom-color: #000;
}

#return-to-top {
	position: fixed;
	z-index: 10;
	bottom: 15px;
	right: 15px;
	background: rgba(0, 0, 0, 0.5);
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 15px;
	text-align: center;
	color: #FFF;
	display: block;
	text-decoration: none;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
	display: none;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#return-to-top:hover {
	background-color: #fffaae;
	color: #000;
}

/**********************/
/* Full screen search */
/**********************/
.search_area {
	align-items: center;
	background: #FFF;
	height: 0;
	display: flex;
	justify-content: center;
	opacity: 0;
	position: fixed;
	transition: all 0.5s;
	width: 100vw;
	will-change: transform, opacity;
	z-index: 9999;
	top: -500px;
}

.search_area.open {
	height: 100vh !important;
	opacity: 1;
	width: 100vw !important;
	z-index: 9999;
	top: 0;
}

.search_area .close-btn {
	display: block;
}

#searchbox {
	background: transparent;
	flex: 1 0 auto;
	max-width: 50%;
	outline: 0;
	padding: 25px 30px;
	font-family: 'Futura Light', Arial;
	font-size: 31px;
	text-align: center;
	border: 0;
	border-bottom: 1px solid #000000;
	color: #000;
}

.close-btn {
	display: none;
	color: #000;
	font-size: 36px;
	position: absolute;
	top: 1.5rem;
	right: 3rem;
	cursor: pointer;
	opacity: 0.7;
}

.close-btn:hover {
	opacity: 1;
	color: #d9535f;
}

.fancybox-button {
    background: rgba(30,30,30,.6);
    border: 0;
    border-radius: 0;
    box-shadow: none;
    cursor: pointer;
    display: inline-block;
    height: 44px;
    margin: 0;
    padding: 10px;
    position: relative;
    transition: color .2s;
    vertical-align: top;
    visibility: inherit;
    width: 44px;
    color: #ccc;
}


.fancybox-button:hover {
    color: #fff !important;
}

#subscribe .fancybox-button:hover {
    color:#d9535f !important;
}
#subscribe .fancybox-button {
    color:#d9535f !important;
}

#enter .fancybox-button:hover {
    color:#d9535f !important;
}
#enter .fancybox-button {
    color:#d9535f !important;
}

#recall .fancybox-button:hover {
    color:#d9535f !important;
}
#recall .fancybox-button {
    color:#d9535f !important;
}

.popup .fancybox-button {
	background: #fff;
}

/* Main Slider */
.main_slider .item {
	height: 700px;
	background-color: #eaa0a2;
	background-image: url(../img/slider/slider_bg_lines.svg);
	background-repeat: no-repeat;
	background-position: center center;
}

.main_slider .center_box {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.main_slider .center_box .center_block {
	width: 600px;
	text-align: center;
}

.main_slider .center_box {
	position: relative;
	z-index: 1;
}

.main_slider .center_box .center_block {
	position: relative;
	z-index: 2;
}

.main_slider .slider_title {
	font-size: 60px;
	color: #eaa0a2;
	background-color: #FFF;
	display: inline;
	padding: 15px 50px;
	position: relative;
	z-index: 2;
}

.main_slider .slider_description {
	border: 1px solid #FFF;
	font-size: 30px;
	line-height: 145%;
	color: #FFF;
	padding: 50px;
	box-sizing: border-box;
	position: relative;
	margin-top: -25px;
	padding-top: 75px;
	z-index: 1;
}

.main_slider .slider_button {
	line-height: 145%;
	margin-top: 30px;
}

.main_slider .slider_button a {
	color: #FFF;
}

.main_slider .slider_button span {
	display: block;
	margin-top: 20px;
}

.main_slider .parallax_02_img {
	width: 427px;
	height: 681px;
	background-image: url(../img/slider/parallax_02.png);
	position: absolute;
	right: 60%;
	top: -21%;
	animation: swing 30s infinite linear;
}

.main_slider .parallax_01_img {
	width: 530px;
	height: 582px;
	background-image: url(../img/slider/parallax_01.png);
	position: absolute;
	right: 68%;
	bottom: -14%;
	animation: swing 40s infinite linear;
}

.main_slider .parallax_03_img {
	width: 297px;
	height: 404px;
	background-image: url(../img/slider/parallax_03.png);
	position: absolute;
	left: 64%;
	top: 5%;
	animation: swing 20s infinite linear;
}

.main_slider .parallax_04_img {
	width: 397px;
	height: 418px;
	background-image: url(../img/slider/parallax_04.png);
	position: absolute;
	left: 68%;
	bottom: -11%;
	animation: swing 25s infinite linear;
}

.main_slider .item {
	overflow: hidden;
}

.owl-theme.main_slider .owl-nav.disabled + .owl-dots {
	margin-top: -60px;
	margin-bottom: 25px;
	z-index: 3;
	position: relative;
}

.owl-theme.main_slider .owl-dots .owl-dot span {
	width: 24px;
	height: 24px;
	background-color: rgba(255, 255, 255, 0);
	margin-left: 0;
	border: 1px solid transparent;
	position: relative;
}

.owl-theme.main_slider .owl-dots .owl-dot.active span {
	border-color: #FFF;
}

.owl-theme.main_slider .owl-dots .owl-dot span:after {
	content: '';
	position: absolute;
	width: 6px;
	height: 6px;
	background-color: #FFF;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	top: 50%;
	left: 50%;
	margin-top: -3px;
	margin-left: -3px;
}

.owl-theme.main_slider .owl-dots .owl-dot span {
	margin: 0;
}

.owl-theme.main_slider .owl-dots .owl-dot {
	margin: 0 4px;
}

.pulse {
	-webkit-animation-name: pulse;
	animation-name: pulse;
}

.alert-message {
	color: #d95353;
	padding: 10px 20px;
	display: inline-block;
	border: 1px solid #ffd7d7;
	background-color: #fff8f9;
}

.emptycart .buttons_link {
	margin-top: 0;
}
